<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.redsolution.bst"
    android:versionCode="4"
    android:versionName="0.2.2" >

    <uses-sdk android:minSdkVersion="3" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".data.BST"
        >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HeaderActivity"
            android:label="@string/inventory_action"
            />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings_action"
            />
        <activity
            android:name=".ui.DocumentActivity"
            />
        <activity
            android:name=".ui.VerifyActivity"
            android:label="@string/verify_title"
            />
        <activity
            android:name=".ui.GoodsActivity"
            android:label="@string/list_action"
            />
        <activity
            android:name=".ui.ChooseActivity"
            android:label="@string/search_title"
            />
        <activity
            android:name=".ui.AboutActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            />
    </application>
</manifest>